
.DS_Store
.ipynb_checkpoints/
__pycache__/

modulo-3/proyecto-final/01 EDA-multiple-pie-chart.ipynb
modulo-3/proyecto-final/00 introduccion-motivacion.ipynb
modulo-3/proyecto-final/03_machine_learning_supervised_knn.ipynb
modulo-3/proyecto-final/03_machine_learning_unsupervised_svd_1--pruebas.ipynb
modulo-3/proyecto-final/03_machine_learning_unsupervised_svd_1.ipynb
modulo-3/proyecto-final/03_machine_learning_unsupervised_svd_2.ipynb
modulo-3/proyecto-final/03_machine_learning_unsupervised_svd.ipynb
modulo-3/proyecto-final/music.ipynb
modulo-3/proyecto-final/DS_Encuentro_40_Sistemas_de_recomendación_01.pptx
modulo-3/proyecto-final/DS_Encuentro_40_Sistemas_Recomendacion.ipynb
modulo-3/proyecto-final/DS_Encuentro_40_Sistemas_Recomendacion.orig.ipynb
modulo-3/proyecto-final/03_machine_learning_supervised_knn_dist_normal.ipynb
modulo-3/proyecto-final/README_material.md
